@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .hidden-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .hidden-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

body {
  color: #fff;
}

.react-date-picker__wrapper {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 7px;
  font-size: 14px;
  background-color: transparent;
  border-color: rgb(58 58 60 / 1) !important
}

.react-date-picker__inputGroup__input {
  outline: none;
  background-color: transparent !important;

}
